body{
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(white, #F26419);
}

.front {
    background-image: url('../images/cardlogo2.jpg!d');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 3px outset #F23333;
}

.col-xl-3 {
    background-image: url("../images/hero-container.gif"); 
}

.front:hover {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;}

.page {
    height:100vh;
}

.box.col-xl-9 {
    height: 86.5vh;
    padding:2%;
}

.header {
    height: 100px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    width: 15%;
    height: 26%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 3.5%;
    margin-left: 1.2%;
}

.hidden {
    display: none;
}

.side-container {
    padding: 10%;
    margin-top: 13%;
    background-color: azure;
}

.hero-container {
    padding:45%;
    margin-top: 37%;
    margin-left:4%;
    background-image: url('../images/hero-container.gif')
}

.batman-gif {
    background-image: url('../images/batman.gif');
    background-size: cover;
    background-position: center;
}

.deadpool-gif {
    background-image: url('../images/deadpool.gif');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.ironman-gif {
    background-image: url('../images/ironman.gif');
    background-size: cover;
    background-position: center;
}
.captainAmer-gif {
    background-image: url('../images/captainAmer.gif');
    background-size: cover;
    background-position: center;
}
.flash-gif {
    background-image: url('../images/flash.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.spiderman-gif {
    background-image: url('../images/spiderman.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.superman-gif {
    background-image: url('../images/superman.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.aquaman-gif {
    background-image: url('../images/aquaman.gif');
    background-size: cover;
    background-position: center;
}
.wolverine-gif {
    background-image: url('../images/wolverine.gif');
    background-size: cover;
    background-position: center;
}

.default-gif {
    background-image: url('../images/default.gif');
    background-size: cover;
    background-position: center;
}
