body {
    background-image: url('../images/background4.jpg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;  
}

.landing-modal {
    overflow: hidden;
    position: relative;
    background-image: url("../images/landing-modal.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

#title{
    color: maroon;
    font-size: 5.5rem;
    text-align: center;
    margin-top: 6%;
    text-shadow: #EEEE00 0 0 10px, #FF0000 5px 5px 5px;
}

.toggle{
    box-shadow:20px 20px 40px 10px pink;  
}
.header {
    font-family: "Time New Roman", Times;
    text-align: center;
    font-size: 5em;
    text-shadow: #EEEE00 0 0 10px, #FF0000 5px 5px 5px;
}

.btn-lg {
    padding: 1.5rem 2rem;
    font-size: 2.25rem;
    line-height: 0.5;
    border-radius: 1.3rem;
    margin-left: 44%;
}

/* @media( min-width: 647px) {
    .btn-lg {
        margin-left: 40%;
    }
}  */

.front {
    background-image: url('../images/cardlogo2.jpg!d');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 3px outset #F23333;
}

.front:hover {
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page {
    height:100vh;
}

.box.col-xl-9 {
    height: 86.5vh;
    padding:2%;
}

.card {
    width: 15%;
    height: 26%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 3.5%;
    margin-left: 1.2%;
}

.hidden {
    display: none;
}

.side-container {
    text-align: center;
    font-size: 1.1em;
    color:beige;
    padding: 10%;
    margin-top: 21%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(20, 110, 227));
}

.hero-container {
    padding:45%;
    margin-top: 37%;
    margin-left:4%;
}

.batman-gif {
    background-image: url('../images/batman.gif');
    background-size: cover;
    background-position: center;
}

.deadpool-gif {
    background-image: url('../images/deadpool.gif');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.ironman-gif {
    background-image: url('../images/ironman.gif');
    background-size: cover;
    background-position: center;
}
.captainAmer-gif {
    background-image: url('../images/captainAmer.gif');
    background-size: cover;
    background-position: center;
}
.flash-gif {
    background-image: url('../images/flash.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.spiderman-gif {
    background-image: url('../images/spiderman.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.superman-gif {
    background-image: url('../images/superman.gif');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.aquaman-gif {
    background-image: url('../images/aquaman.gif');
    background-size: cover;
    background-position: center;
}
.wolverine-gif {
    background-image: url('../images/wolverine.gif');
    background-size: cover;
    background-position: center;
}

.default-gif {
    background-image: url('../images/default.gif');
    background-size: cover;
    background-position: center;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.modal {
    text-align: center;
    position: fixed;
    left: 22rem;
    width: 60%;
    height: 60%;
    margin: 16% auto; /* 15% from the top and centered*/
    background-image: url("../images/modal-end.png");
    background-size: cover;
    background-position: center;
}

.modal-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}

/* .main-opacity {
    opacity: .5;
} */