.page {
    overflow: hidden;
}
.header {
    background-color: blueviolet;
    border: 1px solid black;
} 

.box {
    background-color: aqua;
    border: 1px solid black;
}

.side-container {
    background-color:tomato;
    border: 1px solid black;
}

.main {
    background-color: bisque;
    border: 1px solid black;
    height:125vw;
}

.hero-container {
    background-color: limegreen;
    height: 50vw;   
    border: 1px solid black;
}
.shuffle-btn {
    background-color: greenyellow;
}

.reset-btn {
    background-color: plum;
}

@media only screen 
  and (min-device-width: 375px) 
  /* and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) */
  and (orientation: landscape) { 
    .box {
      width: 30vh;
    }

    .hero-container {
        width: 30vh;
        height: 39.4vh;
    }
    
    .main {
        position:absolute;
        height:87%;
        width: 86%;
        left:13.9%;
        top:13%;
    }
}